/* 7.Counter Area
/*----------------------------------------*/
.counter-area {
  background: transparent url(img/background/bg2.jpg) no-repeat scroll bottom center/cover;
}

.counter-inner {
  background: #f6f6f6;
  padding: 100px 30px 100px 70px;
}

.counter-area .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

.counter-inner h4 {
  color: #444;
  text-transform: uppercase;
  line-height: 36px;
  font-size: 23px;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
}

.counter-inner h4 ::after {
  border: 1px solid #df0f31;
  bottom: 0px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  width: 12%;
}

.counter-count {
  padding: 57px 0px;
}

.about-count {
  padding: 90px 80px 90px 70px;
}

.fun-content {
  overflow: hidden;
  padding: 20px 0px;
  display: block;
}

.fun_text {
  float: left;
  width: 31%;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  margin-right: 20px;
  padding: 30px 15px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.fun_text:nth-child(3n) {
  margin-right: 0px;
}

.fun_text span {
  color: #df0f31;
  display: block;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px;
  line-height: 40px;
}

.fun_text > h5 {
  color: #444;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

/*--------------------------------*/
