.slick-slider .slick{
    &-arrow, &-dots{
        display: none !important;
    }
}
.slick-tab .slick{
    &-slide{
        background-color: rgb(143, 214, 50);
        padding:5px 15px;
        text-align: center;
        :hover{
            color:rgb(218, 21, 47);
            cursor: pointer;
        }
    }
    &-current{
        color:rgb(218, 21, 47);
        border-bottom: 2px solid blue;
    }
}
.slick-content .slick{
    &-slide {
        padding:5px 15px;
        height: 100px;
        background-color:antiquewhite;
    :hover{
        cursor: pointer;
    }
    }
}
.progress{
    margin-top:20px;
    border:1px solid black;
    height:120%;
}