.header {
  background-color: aqua;
}

.img-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 20px;
}

.text-title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 50px;
  font-size: 150%;
}

.nav-icons li {
  display: inline-block;
  background-color: none;
  padding-right: 2px;
  margin-left: 20px;
  margin-top: 50px;
  font-family: Impact, Charcoal, sans-serif;
  color: white;
}

.nav-icons li :hover {
  color: #CD5C5C;
  text-decoration: none;
}

.nav-icons li a {
  color: black;
}

.search {
  width: 500px;
}
