* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
 background-color:antiquewhite   
}
.carousel-item {
  margin-top:10px;
    width: 250px;
    height: 300px;
}
// left-CV
#cv{
    padding-left: 10px;
    padding-top: 10px;
    &-bground{
    margin-left: 70px;
    }
    &-fullname{
      margin-left: 60px;
    }
    &-job{
      margin-left: 50px;
    }
}
.cv-info{
  padding-left: 20px;
}
// right-CV
#cv-content{
  margin: 10px;
}
.cv-box-02{
  width: 300px;
  height: 100px;
}
//CV
#flip {
  width: 300px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px red;
  cursor: pointer;
}
#flip:hover {
  background-color: #4CAF50; /* Green */
  color:antiquewhite;
}

#panel {
  padding: 10px;
  text-align: center;
  background-color: #e5eecc;
  border: 1px solid red;
  display: none;
}
//Show user
// #showUser{
//   color:red;
//   font-size: 130%;
//   font-family:“Comic Sans MS”, cursive, sans-serif
// }
// #test{
//   width: 60%;
//   height: 25px;
//   margin-top: 30px;
//   border: auto;
//   border-radius: 10px;
// }
.nav-icons li {
  display: inline-block;
  background-color:none;
  padding-right: 2px;
  margin-left: 20px;
  margin-top: 50px;
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  :hover{
    color:	#CD5C5C;
    text-decoration: none;
  }
}
.nav-icons li a{
  color: black;
}
.search{
  width: 500px;
}
